<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="57994KannanKrishnamoorthy.KomicReader" Publisher="CN=DD5408B1-FD48-4197-B2F8-59BD676D8C4A" Version="1.0.0.31" />
  <Properties>
    <DisplayName>Komic Reader</DisplayName>
    <PublisherDisplayName>Kannan Krishnamoorthy</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ComicViewer.App">
      <VisualElements DisplayName="Komic Reader" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="ComicViewer, Can read CBR and CBZ comic files." ForegroundText="light" BackgroundColor="green">
        <DefaultTile ShowName="allLogos" ShortName="Komic Reader" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <FileType>.CBR</FileType>
              <FileType>.CBZ</FileType>
              <FileType>.cbt</FileType>
              <FileType>.cb7</FileType>
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="komic">
            <DisplayName>Comic</DisplayName>
            <InfoTip>Comic File</InfoTip>
            <SupportedFileTypes>
              <FileType>.CBR</FileType>
              <FileType>.CBZ</FileType>
              <FileType>.cb7</FileType>
              <FileType>.cbt</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>